<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon/groupstudy.jpg" type="image/jpeg" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Student Study Group Finder</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Student Study Group Finder!</h1>
      <p>Find classmates, join study groups, and stay on track together.</p>

      <form action="/login">
        <input type="submit" value="Login with email" />
      </form>

      <form action="/register">
        <input type="submit" value="Create a new account" />
      </form>
    </div>
  </body>
</html>
